body{
    height:auto;
    width:100vw;
}
*{
    padding:0;
    margin:0;
}
#Footer_part{
    position:absolute;
    bottom:5px; 
    height:30px;
    width:99vw;
    border:1px solid black;
}
.Footer_images{
    
}

